.roster_members_wrapper {
  .roster_members_subwrapper {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    .roster_members_table_wrapper {
      width: 1140px;
      table {
        width: 100%;
      }
      table,
      th,
      td {
        border-collapse: collapse;
      }
      th,
      td {
        text-align: start;
        padding: 15px;
      }
      .table_upper_wrapper {
        display: flex;
        justify-content: space-between;
        .navigation_bar {
          display: flex;
          align-items: center;
        }
        .table_filters {
          display: flex;
          align-items: center;
          .__input__ {
            .input_style {
            }
          }
          .btn {
            padding: 0px 5px;
          }
        }
      }
      .filters_wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        .date_picker {
          display: flex;
          flex-direction: column;
        }
        .filters_dd {
          width: 200px;
        }
      }
    }
  }
}
