.login_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // font-family: "Montserrat", "Helvetica", "Arial", "serif";
  //   background: rgb(107,18,183);
  // background: radial-gradient(circle, rgba(107,18,183,1) 0%, rgba(255,255,255,1) 100%);

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  // .login_subwrapper_lhs {
  //   width: 1680px;
  //   height: 881px;
  //   border-top-left-radius: 100px;
  //   border-bottom-right-radius: 100px;
  //   background-color: #fff;
  //   box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.75);
  //   display: flex;
  //   justify-content: space-evenly;
  //   align-items: center;
  // }

  .login_content {
    width: 80%;
    height: 80%;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 20px;
    z-index: 1;
    background-color: #fff;
    .login_lhs {
      .vector_img {
        width: 750px;
      }
    }
    .login_rhs {
      width: 30%;
      // height: 652px;
      border-radius: 10px;
      // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: center;
      // padding: 20px;
      gap: 16px;
      background-color: #fff;

      .logo {
        display: flex;
        justify-content: center;
        .logo_img {
          width: 100px;
        }
      }

      .content_subwrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        .header_ {
          margin: 0;
          margin-bottom: 10px;
          color: #686767;
        }
        .login_type_tab {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: space-between;
          border: 1px solid #ccc4c4;
          border-radius: 50px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          .activetab {
            color: #fff;
            background-color: #df3333;
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0;
            align-items: center;
            border-radius: 50px;
            box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
          }
          .inactivetab {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0;
            align-items: center;
            color: #686767;
          }
          .mobile {
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
          }

          .email {
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
          }
          .inactivetab:hover {
            box-shadow: -1px 6px 20px 0 rgba(120, 60, 20, 0.2);
          }
        }

        .input_credential_wrapper {
          display: flex;
          flex-direction: column;
          .inputs_wrapper {
            label {
              font-size: 16px;
              color: #858282;
              font-weight: 600;
              margin-left: 0.21vw;
            }
            .phone-ib {
              height: 0;
              margin-bottom: 50px;

              .phone_no_wrapper {
                width: 95%;
                margin-top: 5px;
                border-radius: 0.6770833333vw;
                border: 2px solid #dddddd;
                padding: 17px;
                font-size: 16px;
                color: #949494;
                font-weight: 400;
                .phone_input_style {
                  font-size: 16px;
                  color: #949494;
                  font-weight: 400;
                }
              }
            }
          }
        }
        .__input__ {
          margin-bottom: 0;
          .input_style {
            width: 95%;
            margin-bottom: 10px;
            font-size: 16px;
            color: #949494;
            font-weight: 400;
          }
          .icon-toggle {
            top: 60%;
          }
        }
      }

      .error_msg {
        margin: 0;
        display: flex;
        justify-content: center;
        color: #c91b1b;
      }
      .btn {
        background-color: #df3333;
        padding: 10px;
        font-weight: 600;
        font-size: 14px;
        transition: all 0.3s ease;
      }

      .btn:hover {
        box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
      }
    }
  }
}
