.attendance_wrapper {
  .attendance_subwrapper {
    // max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    .attendance_table_wrapper {
      width: 80%;
      padding: 20px;
      margin: 50px 0px;
      border-radius: 10px;
      box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
      transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;

      .table_subwrapper {
        height: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
        table {
          width: 100%;
        }
        table,
        th,
        td {
          border-collapse: collapse;
        }
        th,
        td {
          text-align: start;
          padding: 0.5vw;
          text-transform: capitalize;
          border-bottom: 1px solid #f3e7e7;

          // @media (max-width: 1600px) {
          //   padding: 7px;
          // }
          // @media (max-width: 1400px) {
          //   padding: 3px;
          // }
        }
        th {
          color: #777676;
          font-size: 1vw;
          font-weight: 500;
          background-color: #fcf3f3;
        }
        td {
          font-size: 0.9vw;
          color: #7a7a7a;
          font-weight: 400;
          // @media (max-width: 1400px) {
          //   font-size: 14px;
          // }
        }

        .no_data {
          font-weight: 600;
          font-size: 24px;
        }
      }

      .table_upper_wrapper {
        display: flex;
        justify-content: space-between;
        .header_ {
          color: #686767;
          font-size: 1.2vw;
          font-weight: 600;
        }
        .table_filters {
          display: flex;
          align-items: center;
          .__input__ {
            margin-bottom: 0;
            margin-top: 0;
            width: 100%;
            align-items: center;
            .input_style {
              padding: 8px;
              margin-top: 0;
            }
          }
          .btn {
            padding: 6px;
          }
        }
      }
      .filters_wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;

        .date_picker {
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 5px;
            font-size: 0.78125vw;
            font-weight: 600;
            margin-bottom: 5px;
            opacity: 0.7;
          }

          .rmdp-input {
            font-size: 0.7291666667vw;
            border-radius: 8px;
            border: 2px solid #dddddd;
            padding: 3px;
            margin: 0;
            width: 190px;
          }

          .rmdp-wrapper {
            .rmdp-arrow {
              border: solid red;
              border-width: 0 2px 2px 0;
            }
            .rmdp-week-day {
              color: #fa5252;
            }
            .rmdp-range {
              background-color: #f36e6e;
            }
            .sd:hover {
              background-color: #f36e6e;
            }
            .rmdp-selected span:not(.highlight) {
              background-color: #ee4040;
            }
          }
          .decision_buttons {
            display: flex;
            .btn {
              padding: 5px;
              margin-bottom: 5px;
            }
          }
        }
        .filters_dd {
          width: 200px;
          .dd-label {
            margin-top: 0;
            opacity: 0.7;
          }
          .selected-text {
            color: #7a7a7a;
            background-color: #fff;
          }
        }
      }
    }
  }
}
