.navbar_wrapper {
  width: 100%;
  background-color: #eae5fa;
  padding: 5px;

  .navbar_subwrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    justify-content: space-between;

    .navbar_lhs {
      .navbar_logo{
        width: 200px;
      }
    }
    .navbar_ul {
      display: flex;
      gap: 20px;
      align-items: center;
      .navbar_title {
        font-size: 16px;
        font-weight: 600;
        padding: 0px 0px 0px 15px;
        list-style-type: none;
        transition: all 0.4s ease;
        text-transform: none;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #383740;
        gap: 10px;
      }
      .active {
        color: #7367f0;
      }
    }
    .navbar_rhs {
      display: flex;
      align-items: center;
      gap: 20px;
      .user_info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .username_,
        .role_ {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          color: #636262;
        }
        .role_ {
          color: #5e50f7;
        }
      }
      .avatar_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}
