.navbar_wrapper {
  width: 100%;
  // background-color: #f8eded;
  background: rgb(245,193,193);
  background: radial-gradient(circle, rgba(245,193,193,0.20211834733893552) 0%, rgba(255,255,255,1) 100%);
  padding: 5px;

  .navbar_subwrapper {
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    justify-content: space-between;

    .navbar_lhs {
      .navbar_logo {
        width: 205px;
      }
    }
    .navbar_ul {
      display: flex;
      gap: 20px;
      align-items: center;
      .navbar_title {
        font-size: 16px;
        font-weight: 600;
        padding: 0px 0px 0px 15px;
        list-style-type: none;
        transition: all 0.4s ease;
        text-transform: none;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #686767;
        gap: 10px;
      }
      .active {
        color: #f56464;
      }
    }
    .navbar_rhs {
      display: flex;
      align-items: center;
      gap: 20px;
      .user_info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .username_,
        .role_ {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          color: #636262;
        }
        .role_ {
          color: #f36e6e;
        }
      }
      .avatar_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}
